In [1]:
import json
import requests
import pandas as pd

In [8]:
from config import conn_str
import sqlalchemy as sa

engine = sa.create_engine(conn_str)

In [15]:
# drop table
with engine.connect() as conn:
    conn.execute(sa.text('DROP TABLE IF EXISTS queue_detail;'))
    conn.commit()

In [28]:
# view table
with engine.connect() as conn:
    a = pd.read_sql('SELECT * from queue_config;', conn)
a

,userId_refId,model,max_price,currency_code,conditions,manufactured_year,curency_code
0,abc_xyz11,Rm35-02,2400000.0,HKD,used,,HKD

In [17]:
# view table
with engine.connect() as conn:
    a = pd.read_sql('SELECT * from queue_detail;', conn)
a

,parent_message_id,Brand,Model,Product Status,Price,Time,want_to_buy,Color,Material,Strap,Dial,ManufactureYear,userId_refId
0,042bbf37-517f-487e-a8e0-bd4dd6864816,Richard Mille,Rm35-02,like new.,2355825.0,123,0,black,,,,,abc_xyz11

In [ ]:
# createQueue, deleteQueue, track @ tracking_app.py uvicorn --port 1234
# dataReceiver @ receiver_app_simulation/receiver_app.py uvicorn --port 1112

In [25]:
# createQueue
queueConfig = {
    "userId_refId": "1_ROLEX0001",
    "model":"rolex0001",
    "max_price": 10000,
    "currency_code": "USD",
    "conditions": [1],
    "manufactured_year": ''
}

url = 'http://localhost:1234/createQueue'
r = requests.post(url, json=queueConfig)
r.status_code

200

In [27]:
# deleteQueue
queueConfig = {
    "userId_refId": "1_ROLEX0001"
}
url = 'http://localhost:1234/deleteQueue'
r = requests.post(url, json=queueConfig)
r.status_code

200

In [30]:
# demo tracking flow
# message after being extract, fowarded to tracking endpoint at 'http://localhost:1234/track'
with open('data/test_extract.json') as file:
    message = json.load(file)
    
url = 'http://localhost:1234/track'
r = requests.post(url, json=message)
r.status_code

200